/* DESKTOP ONLY*/

@media screen and (min-width: 993px) {

    body {
        padding: 0px 30px;
    }
    
    main {
        margin: 30px
    }
    
    /*HEADER SECTION*/
    
    header {
        margin: 0px 30px;
    }
    
    header .nav-border:hover {
    border-top-color: #0065FC;
    color: #0065FC;
    }
    
    /*SEARCH SECTION*/
    
    #search-glass {
    display: none;
    }
    
    /*FILTER SECTION*/
    
    #filter-section {
    margin-top: 30px;
    }
    
    .filter {
    margin-left: 40px;
    width: 250px;
    }
    
    .filter p {
    margin: auto;
    }
    
    .filter-column {
    display: flex;
    }
    
    /* ACCOMODATIONS SECTION */
    
    #content {
        gap: 40px
    }
    
    #accomodation {
    width: 65%;
    background-color: #f2f2f2;
    padding: 30px;
    }
    
    .hotel {
    width: 30%;
    height: 230px;
    }
    
    .hotel:hover {
    transform: scale(1.1);
    }
    
    .hotel-description h4 {
    margin-bottom: 0%;
    margin-top: 0%;
    font-size: 16px
    }
    
    .hotel-description p {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 15px;
    }
    
    .hotel-description {
    margin: 5%;
    }
    
    @media screen and (max-width: 1140px) {
        .hotel-description h4 {
            font-size: 14px
        }
    }
    
    /* POPULAR-SECTION */
    
    #popular-choice .hotel-description p {
    margin: 2px
    }
    
    #popular-choice > .hotel {
    width: 80%;
    height: 175px
    }
    
    #popular {
    width: 30%;
    }
    
    #popular-choice .hotel-description {
    margin: 0px;
    margin-left: 10px
    }
    
    #popular-title {
    margin: 15px
    }
    
    /* ACTIVITIES SECTION */
    
    #activities-section {
        margin-top: 40px
    }
    
    #activities {
        display: flex;
    }
    
    .s-picture {
        width: 50%;
        height: 600px;
    }
    
    .g-picture {
        width: 50%;
        height: 100%;
    }
    
    #activities .g-picture img {
        height: 500px;
      }
    
    #activities .s-picture img {
        height: 200px;
      }
    
    .activities-picture h3 {
        margin: 20px;
        font-size: 16px;
      }
    
    .activities-picture:hover {
        transform: scale(1.025)
        }
    
      }
    
    @media screen and (max-width: 1260px) {
    #activities-bloc2 > .g-picture > .activities-picture > h3 {
            font-size: 16px;
            margin-top:  5px;
        }
      } 
      
    @media screen and (max-width: 1058px) {
        #activities-bloc2 > .s-picture > .activities-picture > h3 {
            font-size: 15px;
            margin-left: 5px
      }
    }
    
    
    
    @media  screen and (max-width: 1299px), (min-width: 993px) {
      .hotel-description h4 {
        font-size: 14px
    }
    
    .hotel-description p {
        font-size: 12px;
    }
    
    #popular-choice .hotel-description p {
        margin: 3px
    }
    
    .hotel-description {
        overflow: hidden;
    }
    
      
    }