header {
    padding: 40px;
    padding-right: 40px;
}

main {
    padding-left: 40px;
    padding-right: 
}

header .nav-border:hover {
    border-top-color: #0065FC;
    color: #0065FC;
  }

#search-glass {
    display: none;
}

#filter-section {
    margin-top: 40px;
}

#filter-choice {
    margin-left: 40px;
} 

.wrapper-form {
    margin-top: 30px
}
