      header .nav-border:hover {
        border-bottom: 3px solid #0065FC;
        border-top-color: transparent;
      }
      
      header {
        justify-content: center;
        width: 100%;
      }

      #logo { 
        margin: auto;
      }

      header nav {
        width: 100%;
      }

      header .nav-border {
        flex-basis: 50%;
        text-align: center;
        border-bottom: 2px solid #F2F2F2;
      }

      .search {
        display: none;
      }

      #filter-section {
        margin-top: 0px;
      }

      .hotel {
        width: 100%;
        height: 300px;
      }

      #hotel-bloc1 {
        flex-wrap: wrap;
      }
      
      #hotel-bloc2 {
        flex-wrap: wrap;
      }

      #accomodation {
        width: 100%;
        height: 100%;
        background-color: white;
      }

      #content {
        flex-direction: column-reverse;
      }

      #accomodation .hotel-description {
        margin: 10px;
      }

    /* IMAGE HOTEL RESPONSIVE */
      
      #img-cannebiere {
        object-position: 1px 70% ;
      }

      #img-port {
        object-position: 1px 80% ;
      }

      #img-mouettes{
        object-position: 1px 90% ;
      }

      #img-mer {
        object-position: 1px 80% ;
      }

      #img-panier {
        object-position: 1px 40% ;
      }

      #img-amina {
        object-position: 1px 65% ;
      }

      .hotel:hover {
        transform: scale(1.020);
      }

      /* POPULAR SECTION RESPONSIVE */

      #popular {
        padding: 30px;
        padding-top: 10px;
      }
      


      
  