@media screen and (max-width: 992px){
    header .nav-border:hover {
        border-bottom: 3px solid #0065FC;
        border-top-color: transparent;
      }
      
      header {
        justify-content: center;
        width: 100%;
      }

      #logo { 
        margin: auto;
      }

      header nav {
        width: 100%;
      }

      header .nav-border {
        flex-basis: 50%;
        text-align: center;
        border-bottom: 2px solid #F2F2F2;
      }

      .search {
        display: none;
      }

      main {
        margin: 30px
      }

      #filter-section {
        margin-top: 0px;
      }
      
    


  }
  