header {
    padding-left: 40px;
    padding-right: 40px;
}

main {
    padding-left: 40px;
}

header .nav-border:hover {
    border-top-color: #0065FC;
    color: #0065FC;
  }

#search-glass {
    display: none;
}

#filter-section {
    margin-top: 30px;
}

.filter {
    margin-left: 40px;
    width: 250px;
}

.filter-column {
    display: flex;
}

.wrapper-form {
    margin-top: 30px
}

#accomodation {
    width: 65%;
    background-color: #f2f2f2;
}

.hotel {
    width: 29%;
    height: 230px;
}

.hotel:hover {
    transform: scale(1.1);
  }

.hotel-description h4 {
    margin: 0%;
    font-size: 18px
  }

  .hotel-description p {
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 15px;
  }

  .hotel-description {
    margin: 5%;
  }

  #popular-choice .hotel-description p {
    margin: 2px
  }

  #popular-choice > .hotel {
    width: 80%;
    height: 175px
  }

  #popular {
    width: 30%;
  }

  .hotel-picture {
    display: flex;
  }

  #popular-choice > .hotel > .hotel-description {
    margin: 0px;
    margin-left: 10px
  }

    #popular-title {
    margin: 15px
}

    #content {
        gap: 40px
    }

