a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box
}


body{
  font-family: 'Raleway', sans-serif;
  
}

/*HEADER SECTION*/

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header nav {
  display: flex;
}

header .nav-border {
  padding: 40px;
  font-weight: 500;
  font-size: 18px
}

header .nav-border {
  border-top: 3px solid transparent;
}

#logo { 
  height: 100px;
  padding-top: 20px;
}

/*SEARCH SECTION*/

#search-section h2 {
  font-size: 25px; 
  font-weight: 800;
  margin-top: 30px;
}

p {
  font-weight: 500;
  opacity: 0.7
}

#loc-dot {
  background-color: #f2f2f2;
  padding: 15px;
  font-size: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#localisation {
  height: 50px;
  width: 250px;
  border-right: none;
  border-left: none;
  border: 1px solid #f2f2f2
}

input {
  font-weight: 700;
}

.search {
  height: 50px;
  background-color: #0065FC;
  color: white;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 800;
  font-size: 17px;
  width: 120px;
  cursor: pointer;
  opacity: 0.9;
}

.search:hover {
  opacity: 1;
}

#search-glass {
  background-color: #0065FC;
  padding: 15px;
  font-size: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  cursor: pointer;
}

.wrapper-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/*FILTER SECTION*/


#filter-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#filter-section h2 {
  margin-right: 20px;
}

#filter-choice {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

#filter-choice .filter-column {
  display: flex;
}

#filter-choice .filter {
  margin-right: 30px;
  padding:0px;
  border: 3px solid #f2f2f2;
  border-radius: 50px;
  width: 250px;
  display: flex;
  align-items: center;
  font-weight: 800 ;
  cursor: pointer;
  transition: 0.5s;
}

.filter p {
  font-weight: 800;
  margin: auto;
}

#filter-choice .filter i {
  background-color: #DEEBFF;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: #0065FC;
  font-size: 25px;
  font-weight: 900;
  margin-left: -10px;
}

#filter-choice .filter:hover {
  color: #0065FC;
  transform: scale(1.05);
}

.info {
  display: flex;
  align-items: center;
  gap: 10px
}

.fa-info {
  border: 2px solid #f2f2f2;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065FC;
  font-size: 12px;
}

/* ACCOMODATIONS SECTION */

#accomodation {
  background-color: #f2f2f2;
  width: 65%;
  padding: 30px;
  border-radius: 10px;
  
}

.hotel {
  background-color: white;
  margin: auto;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #66626227;
  width: 300px;
  height: 230px;
  transition: 0.8s;
}

.hotel:hover {
  transform: scale(1.1);
}

#accomodation h3 {
  margin: 0px;
  margin-bottom: 30px
}

.hotel-picture {
  display: flex;
  justify-content: center;
  margin: 7px;
  height: 50%;
}

.hotel-picture img {
  border-top-left-radius:  20px;
  border-top-right-radius:  20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#hotel-bloc1  {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#hotel-bloc2 {
  display: flex;
  justify-content: space-between;
}

.hotel-description h4 {
  margin:0px;
}

.hotel-description p {
  margin-top: 7px;
  margin-bottom: 7px;
}

.hotel-description {
  margin: 20px;
  

}

.blue-star {
  color: #0065FC;
}

.grey-star {
  color: #bdb9b9a8;
}

#accomodation > p {
  font-weight: 800;
  font-size: 18px;
  margin-top: 25px;
  cursor: pointer;
}









