a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box
}

body{
  font-family: 'Raleway', sans-serif;
  
}

/*HEADER SECTION*/

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header nav {
  display: flex;
}

header .nav-border {
  padding: 40px;
  font-weight: 500;
  font-size: 18px
}

header .nav-border {
  border-top: 3px solid transparent;
}

#logo { 
  height: 100px;
  padding-top: 20px;
}

/*SEARCH SECTION*/

h2 {
  font-size: 25px; 
  font-weight: 800;
  margin-top: 30px;
}

p {
  font-weight: 500;
  opacity: 0.7
}

#loc-dot {
  background-color: #f2f2f2;
  padding: 15px;
  font-size: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#localisation {
  height: 50px;
  width: 250px;
  border-right: none;
  border-left: none;
  border: 1px solid #f2f2f2
}

input {
  font-weight: 700;
}

.search {
  height: 50px;
  background-color: #0065FC;
  color: white;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 800;
  font-size: 17px;
  width: 120px;
  cursor: pointer;
  opacity: 0.9;
}

.search:hover {
  opacity: 1;
}

#search-glass {
  background-color: #0065FC;
  padding: 15px;
  font-size: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  cursor: pointer;
}

.wrapper-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/*FILTER SECTION*/


#filter-section {
  display: flex;
  align-items: center;
  
}

#filter-choice {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 40px;
  flex-wrap: wrap;
}

#filter-choice .filter {
  margin-right: 30px;
  padding:0px;
  border: 3px solid #f2f2f2;
  border-radius: 50px;
  width: 250px;
  display: flex;
  align-items: center;
  font-weight: 800 ;
  cursor: pointer;
}

#filter-choice .filter i {
  background-color: #DEEBFF;
  padding: 15px;
  border-radius: 50px;
  color: #0065FC;
  font-size: 25px;
  font-weight: 900;
  margin-left: -10px;
}

#filter-choice .filter:hover {
  color: #0065FC;
  transform: scale(1.05);
}








